body {
    background-image: url(background_alt_3.jpg)
}
h1 {
    color: cornflowerblue;
    font-size: 300%;
    font-family: sans-serif;
    text-align: center;
}
h2 {
    color: cornflowerblue;
    border:2px solid cornflowerblue;
    background-color: whitesmoke;
    padding: 20px;
    margin: 50px;
    font-size: 200%;
    font-family: sans-serif;
        
}
p, ol, ul, table, th, td {
    color: black;
    font-family: serif;
    border: 2px solid Cornflowerblue;
    padding: 30px;
    margin: 50px;
    background-color: whitesmoke;
    font-size: 150%;
    font-family: serif;
    border-collapse: collapse;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}
/*ol {
    color: black;
    font-family: serif;
    border: 2px solid Cornflowerblue;
    padding: 30px;
    margin: 50px;
    background-color: whitesmoke;
    font-size: 150%;
    font-family: serif;
}
ul {
    color: black;
    font-family: serif;
    border: 2px solid Cornflowerblue;
    padding: 30px;
    margin: 50px;
    background-color: whitesmoke;
    font-size: 150%;
    font-family: serif;
}
table,th,td {
    color: black;
    font-family: serif;
    border: 2px solid Cornflowerblue;
    padding: 30px;
    margin: 50px;
    background-color: whitesmoke;
    font-size: 150%;
    font-family: serif;
}
#p01 {
  color:;
}
p.error {
  color:;

}
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
*/
